{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

<div class="authors">
  {{ range .Params.authors }}
    <articule class="first-entry home-info">
      <header class="entry-header">
        <h1>{{ .name }}</h1>
      </header>
      <section class="about-us-item" style="margin: 10px;">
        <img style="height: 210px; width: 155px; border-radius: 4px;" src="{{ .image }}">
        <a>{{ .bio }}</a>
      </section>
      <footer class="entry-footer">
          {{ partial "social_icons.html" .socialIcons }}
      </footer>
    </articule>
  {{ end }}
</div>

{{- end }}{{/* end main */}}
